// ------ communities


// --- breadcrums
.bread-container {

  padding-bottom: 3vh;
  margin-bottom: 5vh;
  padding-left: 3vw;

}


// -- communities title
#communities-header {
  position: absolute;
  top: 14vh;
  left: 50%;
  margin-left: - 40vw;
  min-width: 720px;

  svg {
    width: 80vw;
    height: 10vh;

    path {
      fill: transparent;
    }

    text {
      text-shadow: 0 0 15px black;
    }

  }

}

// -- main text ------
.paragraph {
  margin-top: 10vh;
  background-color: #e6e0f5;
  padding-top: 5vh;

  .column.col-8 {
    text-align: center;
    color: #2E2F30;
    margin: 5vh 5vw;

    h3 {
      margin-bottom: 5vh;

    }
  }
}


// -- filtered items -----------
.filter-container {
  background-color: #e6e0f5;
  padding-top: 2vh;

  .filter-nav {
    margin: 5vh 5vw !important;

  }

  .columns {
    background-color: #e6e0f5;

  }

  #slider {
    cursor: pointer;
  }

  .icons {
    justify-content: space-between;

    > .column {
      width: fit-content;
      padding: 1vh 0;

      i {
        font-size: 2em;
        color: #564f5c;

      }
    }
  }

  .filter-item {
    border: none;
    box-shadow: 0 0 10px 5px rgba(217, 217, 217, 0.53);
    margin: 6vh 3vw;
    color: #2E2F30;

    a {
      white-space: initial;
    }
  }
}

.not-in-season {
  display: none !important;
}


@media screen and (max-width: 1080px) {
  .filter-item {
    width: 40vw !important;
  }

  .breadcrumb {
    display: none;
  }

  #communities-header svg {
    height: 5vh;
  }
}

// ------------- # SHOW # --------------------

a {
  &:hover {
    text-decoration: none !important;
  }
}

.title_container {
  text-align: left;

  > * {
    margin: 3vh 6vw;
    color: #564f5c;
  }
}

.veggie {
  background-color: rgba(255, 255, 255, 0.76);
  margin: 0 5vw;
  padding-top: 5vh;
  border-radius: 25px;
  color: #2E2F30;

  > p {
    text-align: right;
    padding: 2vh 2vw;
    margin-top: -2vh;

    a {
      color: #2E2F30;

      &:hover {
        color: rgba(46, 47, 48, 0.71);
      }

      transition: 0.4s;
    }

    i {
      color: #564f5c;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.96);
  }

  transition: 0.5s;
  cursor: pointer;
}

.icons-container {
  margin-top: -10vh;

}

.icons-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  i {
    margin: 10vh 3vw;
    font-size: 2em;
    color: #575c5b;
  }

  .veggie-logo {
    font-size: 10em;
    margin: 2vh 5vw;
    color: rgba(207, 37, 30, 0.83);
  }

  .fa-sun {
    color: #e2ac6b;
  }

  .fa-seedling {
    color: darkolivegreen;
  }

  .fa-hands-helping {
    color: #b3c2fe;
  }

  .fa-arrows-alt-h {
    color: #2E2F30;
  }

  .fa-thermometer-half {
    color: #005656;
  }

  .fa-calendar-alt {
    color: #2a2f61;
  }
}

.did-you-know {
  padding: 20vh 2vw;
  color: #2E2F30;
  font-weight: bold;

  p {
    margin-bottom: 10vh;
  }
}

.veggie-container {
  background-color: #bbcd94;
  padding: 10vh 0;

  button {
    background-color: rgba(115, 159, 109, 0.75) !important;
    border: none !important;

    &:hover {
      background-color: rgba(115, 159, 109, 0.95) !important;
    }

    transition: 0.4s;
  }
}

.community_title {
  font-family: 'Bellota', cursive;
  margin: -5vh 0 10vh 0;
}

.panel {
  background-color: rgba(255, 255, 255, 0.8);
  color: #2E2F30;
  margin: 0 1vw;
  border-radius: 10px !important;
  padding: 0 2vw;
  width: 31vw;
  min-width: 200px;

  .tile {
    padding: 2vh 0;

    .tile-content {
      padding: 0 2vw !important;
    }
  }

  .divider {
    width: 21vw;
    margin-left: 2vw;
    min-width: 165px;
  }

  &:hover {
    background-color: rgb(255, 255, 255);
  }

  transition: 0.5s;
  cursor: pointer;

  .panel-header {
    padding: 7vh 0 !important;

    .avatar {
      box-shadow: 0 0 5px #616364;
      margin-bottom: 2vh;
      width: 7vw;
      height: 7vw;
      min-height: 70px;
      min-width: 70px;
    }
  }
}

.panels {
  padding: 0 0.5vw;
  margin: 10vh 0;
}

.carousel {
  border: solid 2px white;
  border-radius: 20px !important;
}

.avatar {
  border: solid 1px gray;
}

.veggie-sub {
  margin-top: 10vh;
}

.tooltip::after {
  font-weight: normal;
  font-family: 'Bellota', cursive;
  padding: 1vh 1vw !important;
}

.tooltip-data {
  white-space: nowrap;
  font-size: 0.4em;
  font-family: 'Bellota', cursive;
}

.recipe-card {
  margin-bottom: 2vh;
}

.wrap {
  white-space: normal !important;
  height: fit-content !important;
  width: fit-content !important;
}

.garden-card {
  margin: 2vh 0;
}

.panel-footer {
  flex-direction: column;
  display: flex;

  i {
    color: grey;
    margin: 2vh 0 4vh 0;
  }
}

.tile-icon .avatar {
  height: 5vw !important;
  width: 5vw !important;
  min-height: 30px;
  min-width: 30px;

}
