// Place all the styles related to the Gardens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.email_ban_show{
  background-color: #50192b;
}

.email_bans_index{
  background-color: #3a1344;

  .pagination span,
  .pagination a,
  .pagination em{
    margin-left: 5px;
  }

  .email_bans_index_content{
    width: 80%;
    margin: 0 auto;
  }
}

.email_ban_modification{
  background-color: #153518;
}

.email_ban_creation{
  background-color: #682106;
}

.email_ban_creation,
.email_ban_modification,
.email_ban_show,
.email_bans_index {
  padding: 10vh 20vw 30vh;
  height: fit-content;
  clip-path: polygon(0 3%, 0 95%, 100% 100%, 100% 0%);

  .columns:first-of-type .column:first-of-type {
    margin: 10vh;
    text-align: left;
    color: #2E2F30;
  }

  input {
    width: 80%;
    max-width: 500px;
    margin-top: 5px;
    text-align: center;
    padding: 5px 10px;
  }

  textarea{
    resize: none;
    width: 80%;
    max-width: 500px;
    margin-top: 5px;
    padding: 5px 10px;
  }

  .field {
    margin-bottom: 1em;
  }

  input[type=submit]{
    max-width: 250px;
  }

  input[type=checkbox]{
    max-width: 25px;
  }

  select{
    margin-bottom: 1em;
  }
}

.email_ban_show div{
  margin-bottom: 1em;
}
