:root {
  --arrow-dimension: 1em;
  --arrow-base-color: rgb(164,164,164);
  --arrow-voted-up: rgb(97,172,78);
  --arrow-voted-down: rgb(179,86,70);
}

.body__votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.votes__up, .votes__down {
  width: 0;
  height: 0;
  border-left: var(--arrow-dimension) solid transparent;
  border-right: var(--arrow-dimension) solid transparent;
  cursor: pointer;
}

.votes__up {
  border-bottom: var(--arrow-dimension) solid var(--arrow-base-color);
}

.votes__down {
  border-top: var(--arrow-dimension) solid var(--arrow-base-color);
}

.votes__up[data-vote="remove"] {
  border-bottom: var(--arrow-dimension) solid var(--arrow-voted-up);
}

.votes__down[data-vote="remove"] {
  border-top: var(--arrow-dimension) solid var(--arrow-voted-down);
}


.question__top {
  display: grid;
  margin-bottom: 1em;
  grid-template:
    "title title btn" 2fr
    "asked asked ." 1fr / 3fr 1fr;
}

.top__tile {
  grid-area: title;
}

.top__answer-button {
  grid-area: btn;
}

.top__created-at {
  grid-area: asked;
}

.question__body {
  display: flex;
  padding-top: 1em;
  border-top: 1px solid rgb(161,161,161);
}

.body__content {
  flex-grow: 1;
}

.body__votes {
  width: 5em;
  min-height: 8em;
}

.answers {
  margin-top: 2em;
}
