:root {
  --arrow-dimension: 1em;
  --arrow-base-color: rgb(164,164,164);
  --arrow-voted-up: rgb(97,172,78);
  --arrow-voted-down: rgb(179,86,70);
}

.question, .answers {
  text-align: left;
}

.body__votes, .answer__vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.votes__up, .votes__down {
  width: 0;
  height: 0;
  border-left: var(--arrow-dimension) solid transparent;
  border-right: var(--arrow-dimension) solid transparent;
  cursor: pointer;
}

.votes__up {
  border-bottom: var(--arrow-dimension) solid var(--arrow-base-color);
}

.votes__down {
  border-top: var(--arrow-dimension) solid var(--arrow-base-color);
}

.votes__up[data-vote="remove"] {
  border-bottom: var(--arrow-dimension) solid var(--arrow-voted-up);
}

.votes__down[data-vote="remove"] {
  border-top: var(--arrow-dimension) solid var(--arrow-voted-down);
}

.question {
  margin-left: 1em;
  margin-right: 1em;
}

.question > .question__top {
  display: grid;
  margin-bottom: 1em;
  grid-template:
    "title btn  " 2fr
    ".     asked" 1fr / 5fr 3fr;
}

.top__title {
  grid-area: title;
  font-size: 23px;
  text-align: justify;
}

.top__actions {
  grid-area: btn;
}

.top__created-at {
  grid-area: asked;
}

.question__body {
  font-size: 18px;
  display: flex;
  padding-top: 1em;
  border-top: 1px solid rgb(161,161,161);
}

.body__content {
  flex-grow: 1;
  margin-left: 1em;
}

.body__votes {
  width: 3em;
  min-height: 8em;
}

#post-answer {
  padding: 1em;
}
